/* fonts */
@font-face {
  font-family: circular;
  src: url(./assets/fonts/Circular/CircularStd-Medium.otf);
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: Circular-Nav;
  src: url(./assets/fonts/Circular/CircularStd-Black.otf);
  font-weight: normal;
  font-size: normal;
}
/* body */
* {
  margin: 0%;
  padding: 0%;
  background-color: orange;
  color: rgb(23, 21, 21);
  font-family: circular;
}

h2 {
  font-size: 2.5rem;
}

/* nav */
.nav-wrap {
  justify-content: center;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

nav {
  margin-top: 2%;
  
}

.nav a {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  text-decoration: none;
  font-size: 2vh;
  font-family: Circular-Nav;
}

.nav a:hover {
  color: rgb(116, 105, 88);
}

/* about */

.about {
  margin-top: 5%;
}
.about img {
  height: 10%;
  width: 20%;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
 

}

.about h1 {
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  padding: 2%;
}

.about p {
  margin-top: -2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 2%;
  font-size: 2vh;
}


/* work */
.work {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin: 0 auto;
}

.workh2 {
  display: flex;
  justify-content: center;

}
.projs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
}

.imgwrapper {
  position: relative;
  height: 75%;
  width: 90%;
  margin: 3%;
}

.imgwrapper img {
  height: 90%;
  width: 100%;
  max-height: 90%;
  max-width: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.imgwrapper:hover img {
  opacity: 0.4;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.imgwrapper:hover .tooltip {
  opacity: .8;
}

.tooltip p {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.tooltip ul {
  color: white;
  list-style: none;
  margin-bottom: 1rem;
  text-align: center;
}
.btnwrapper {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.link a,
.repo a {
  display: inline-block;
  padding: 1em;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 1em;
}

.link a:hover,
.repo a:hover {
  background-color: white;
  color: black;
}

/* tech I use */

.tech h2 {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%;
  padding: 2%;

}
.languages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1.5%;
  justify-items: center;
  align-items: center;
  height: 100vh;
}

.languages img {  
  height: 20vh;
}

/* resume */

.resume {
  margin: 4%;
  padding: 4%;
}
.resume h2 {
  text-align: center;
  margin-bottom: 2em;
}
.downloadwrapper{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}
.downloadwrapper a {
  display: inline-block;
  padding: 1em;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 1em;
  margin-bottom: 4%;
}

.downloadwrapper span {
  background-color: black;
  color: white; 
}
.hidden {
  color: transparent;
}
.downloadwrapper a:hover {
  background-color: white;
  color: black;
}

.message {
  background-color: white;
  color: black;
}


.tab:hover span {
  display: none
}

.tab:hover:before {
  content: ""
}
.exped {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}
.expdetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px; /* add some space between the two divs */
}

.date {
  margin-bottom: 5px;
}

h3, h4, p {
  margin: 0;
}

.contact h2 {
  text-align: center;
}
.contact {
  margin-bottom: 10%;
}
.contact h5 {
  margin-top: 5%;
  font-size: 1.4rem;
  text-align: center;
}
footer {
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
}

.icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vh;
  height: 10vh;
  margin: 5vh;
  text-decoration: none;
}
.meeting span {
  visibility: hidden;
  margin-top: 4%;
  text-align: center;
}
.meeting:hover span {
  visibility: visible; 
}
.meeting:hover img {
  opacity: .2;
}
.icons a img {
  width: 70%;
  height: 70%;
  object-fit: contain;

}
.year {
  text-align: center;
  margin-bottom: 4%;
}
/* media queries */
@media only screen and (max-width: 768px) {
  .nav.fixed {
    visibility: hidden;
  }
  .nav a {
    margin: 0 1rem 0 1rem;
    font-size:  1rem;
  }
  .about {
    padding-top: 2rem;
  }
   .link a,
  .repo a {
    padding: 0.5em;
    font-size: 1.5vh;
  }
 .imgwrapper img {
    opacity: none;
  }

  .tooltip {
    display: none;
  }
  .languages {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .languages img {
    height: 10vh; /* Adjust this value to your preference */
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .icons a {
    width: 25vw;
    height: 25vw;
    margin: 5vw;
  }

}
